* {
  margin: 0;
}

.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}

.app__left {
  flex: 0.6;
}

.app__right {
  flex: 0.4;
}

@media (max-width: 800px) {
  .app {
    flex-direction: column;
  }
};